<app-header></app-header>
<main>
    <ul id="outlines">
        <li>
            <app-pageoutline [outline]="outlines[0]" (select)="onSelectOutline(outlines[0])"></app-pageoutline>
        </li>
        <li>
            <app-pageoutline [outline]="outlines[1]" (select)="onSelectOutline(outlines[1])"></app-pageoutline>
        </li>
        <li>
            <app-pageoutline [outline]="outlines[2]" (select)="onSelectOutline(outlines[2])"></app-pageoutline>
        </li>
    </ul>

    @if (showWelcome) {
        <h1 class="welcome-text">Welcome to DFD official website</h1>
        <p class="intro-text">
            Data Flow Dynamics specializes in tailored ETL solutions to help SMBs manage, transform, and optimize their data efficiently.
        </p>
    }

    @if (selectedOutline) {
        <p>{{ selectedOutline.content }}</p>
    }
</main>
