<div class="outline-content" #content>
    @if (name === 'Profile') {
      <h2>About Data Flow Dynamics</h2>
      <p>Data Flow Dynamics is dedicated to empowering SMBs in Romania with tailored, affordable, and scalable ETL data services solutions.</p>
    }

    @if (name === 'Services') {
      <h2>Our Services</h2>
      <ul>
        <li><strong>Extract:</strong> Gathering data from databases, CRMs, and APIs.</li>
        <li><strong>Transform:</strong> Cleaning, standardizing, and aggregating data.</li>
        <li><strong>Load:</strong> Storing data securely and visualizing insights.</li>
      </ul>
    }

    @if (name === 'Use Cases') {
      <h2>Use Cases</h2>
      <p>Our ETL solutions help businesses optimize:</p>
      <ul>
        <li><strong>Compliance:</strong> GDPR and ANAF reporting.</li>
        <li><strong>Real Estate:</strong> Managing property and customer inquiries.</li>
        <li><strong>Logistics:</strong> Fleet tracking and performance analytics.</li>
      </ul>
    }

    @if (name === 'Contact') {
      <h2>Contact Us</h2>
      <p>Reach us via:</p>
      <ul>
        <li><strong>Email:</strong> contact&#64;dataflowdynamics.com</li>
        <li><strong>Phone:</strong> +40 712 345 678</li>
        <li><strong>Contact Person:</strong> John Doe, Business Development Manager</li>
      </ul>
    }
</div>
